.pg-resources {
    position: relative;

    /*Search Trigger*/
    .search-box {
        background: #000;
        color: #fff;
        cursor: pointer;
        overflow: hidden;
    }
        .fa-search {
            float: left;
            font-size: 24px;
            line-height: 60px;
            text-align: center;
            width: 60px;
        }
        .search-hint {
            float: left;
            font-size: 18px;
            line-height: 60px;
        }
    /*Search Overlay*/
    .search-overlay {
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 56px;
        z-index: 10;

        .search-box {
            background: transparent;
            cursor: default;
        }
            .close {
                color: #fff;
                cursor: pointer;
                float: right;
                font-family: Arial;
                font-size: 30px;
                height: 60px;
                line-height: 60px;
                margin-right: $margin-base;
                text-align: center;
                width: 40px;

                &:hover {
                    opacity: 0.7;
                }
            }
        .form {
            background: url(../img/dot-border.png) repeat-x left top transparent;
            padding-top: $padding-lg;
        }
            .text-label {
                color: #fff;
            }
            .search-cont {
                padding-right: 51px;
                position: relative;

                .fa-search {
                    background: $link-color;
                    border: 0;
                    color: #fff;
                    height: 51px;
                    line-height: 51px;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                    width: 51px;
                }
            }
                .select-input {
                    margin-bottom: $margin-lg;
                }
            .checkbox-label-text {
                color: #fff;
                font-size: 20px;
            }
    }

    /*Resource Listing*/
    .post-content {
        cursor: pointer;
        line-height: 1.2;
        padding: 0 $padding-xl $padding-lg;

        .fa {
            color: $link-color;
            font-size: 24px;
        }
    }
        .post-date {
            font-size: 17px;
            font-weight: 300;
            padding-right: $padding-sm;
        }
        .post-title {
            color: $link-color;
            font-size: 21px;
        }
        .author-img {
            @include border-radius(50%);
        }
        .author-text {
            color: $subtitle-color;
            font-size: 13px;
            line-height: 45px;
            padding: 0 $padding-sm;
            text-transform: uppercase;
        }
}