.pg-resources {
    ::-webkit-input-placeholder {
       color: #fff;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #fff;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;  
    }

    :-ms-input-placeholder {  
       color: #fff;  
    }
    .search-box {
        position: relative;
    }
        .fa-search {
            color: #fff;
            font-size: 24px;
            left: 0;
            line-height: 60px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 60px;
        }
        .search-input {
            background: #000;
            color: #fff;
            display: block;
            font-size: 18px;
            height: 60px;
            margin: 0;
            padding: 0 $padding-base 0 60px;

            &:focus {
                background: #000;
            }
        }
    .post-content {
        cursor: pointer;
        line-height: 1.2;
        padding: 0 $padding-xl $padding-lg;

        .fa {
            color: $link-color;
            font-size: 24px;
        }
    }
        .post-date {
            font-size: 17px;
            font-weight: 300;
            padding-right: $padding-sm;
        }
        .post-title {
            color: $link-color;
            font-size: 21px;
        }
        .author-img {
            @include border-radius(50%);
        }
        .author-text {
            color: $subtitle-color;
            font-size: 13px;
            line-height: 45px;
            padding: 0 $padding-sm;
            text-transform: uppercase;
        }
}