.pg-partner
    .page-heading.close-section
        .close(ui-sref="app.who") X
        h1.title PABLO BUSTAMANTE
        h2.subtitle Developer
    img.img-responsive.mb(src="app/img/who/bustamante.jpg" alt="Pablo Bustamante")
    .row
        .small-12.columns
            p To this software developer Stackoverflow falls somewhere between required resource and source of curiosity. It seems the web is rife with a design choice that is his pet peeve: articles that are unnecessarily divided into multiple pages. He’s a bit of a traditionalist, the technology he can’t live without? Pencil and Paper.