.pg-partner
    .page-heading.close-section
        .close(ui-sref="app.partners") X
        h1.title Sitecore
        h2.subtitle MAKE OSHYN YOUR SITECORE PARTNER
    img.img-responsive.mb(src="app/img/partners/sitecore-inner.png" alt="Sitecore")
    .row
        .small-12.columns
            p Let our team of expert sitecore developers help you better leverage your site's content, improve customer experiences, and drive business growth.