// top navbar
header(ng-include="'app/views/partials/header.html'")

// Main section
section
  // Page content
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
  
// Page footer
footer(ng-include="'app/views/partials/footer.html'")

