.pg-contact
    .page-heading
        h1.title Contact
        h2.subtitle LOREM IPSUM
    .p-sm
        .row
            .small-12.columns
                .mb-lg
                    .phone
                        | Main&nbsp;
                        a.phone-link(href="tel://1-888-483-1770") +1.888.483.1770
                    .phone
                        | Sales&nbsp;
                        a.phone-link(href="tel://1-888-483-1770") +1.888.483.1770X100
                .button.large.expand SEND MESSAGE
        .row
            .small-12.columns
                .mb
                    b Headquarters
                    div 200 Pine Ave.
                    div Long Beach, CA 90802
                img.img-responsive.mb-xl(src="app/img/contact/usa.png" alt="USA")
                .mb
                    b South America
                    div Chimborzo y Pampite - Cumbaya
                    div Centro de Negocios la Esquina
                    div Quito-Ecuador
                img.img-responsive.mb-xl(src="app/img/contact/ec.jpg" alt="Ecuador")
