.homepage
    .row
        .small-10.columns
            h1.main-title.m0.pv-xl Oshyn is a Digital Agency
            p.sub-title Lorem ipsum dolor sit amet consectetur
    .banner.clearfix
        img.left(src="app/img/tech-news.png", height="69", width="74")
        .info.left(ui-sref="app.homepage")
            span Oshyn is proud to be a part of the 2014 Sitecore Symposium
            span.more read more