.pg-partners
    .page-heading
        h1.title Partners
        h2.subtitle THE BEST OF THE BEST
    .row
        .small-12.columns
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/sitecore.jpg" alt="sitecore")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/episerver.jpg" alt="episerver")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/hippo.jpg" alt="hippo")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/insite.jpg" alt="insite")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/microsoft.jpg" alt="microsoft")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/oracle.jpg" alt="oracle")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/coveo.jpg" alt="coveo")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/razorfish.jpg" alt="razorfish")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/72andsunny.jpg" alt="72andsunny")
            a(ui-sref="app.partner")
                img.img-responsive.mb-xl(src="app/img/partners/sapient.jpg" alt="sapient")