.pg-portfolio
    .page-heading
        h1.title Portfolio
        h2.subtitle WE LOVE TO BUILD CUTTING EDGE, CONNECTED SOFTWARE FOR OUR CLIENTS.
    .ph-lg.clearfix
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/gears-of-war.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/aetna.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/audio-digest.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/cta.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/dole.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/hamilton.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/tcdrs.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/vw.jpg" alt="xxx")
        img.img-responsive.mb-xl(ui-sref="app.gears-of-war", src="app/img/portfolio/winterpark.jpg" alt="xxx")