.pg-portfolio
    .page-heading
        h1.title Portfolio
        h2.subtitle WE LOVE TO BUILD CUTTING EDGE, CONNECTED SOFTWARE FOR OUR CLIENTS.
    .row
        .small-12.columns
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/gears-of-war.jpg" alt="gears-of-war.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/aetna.jpg" alt="aetna.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/audio-digest.jpg" alt="audio-digest.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/cta.jpg" alt="cta.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/dole.jpg" alt="dole.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/hamilton.jpg" alt="hamilton.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/tcdrs.jpg" alt="tcdrs.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/vw.jpg" alt="vw.jpg")
            a(ui-sref="app.client")
                img.img-responsive.mb-xl(src="app/img/portfolio/winterpark.jpg" alt="winterpark.jpg")