.pg-resources(ng-controller="resourcesController")
    .search-box(ng-click="toggleSearch()", ng-class="{vhidden: page.search == true}")
        i.fa.fa-search
        span.search-hint SEARCH / FILTER
    .page-heading
        h1.title We Are Here to Help
        h2.subtitle Lorem ipsum dolor
    .post-item(ng-repeat="post in [1,2,3,4]")
        include resources/_post-item
    include resources/_search-overlay