.resources
    .search-box
        i.fa.fa-search
        input.search-input(type="text", placeholder="SEARCH / FILTER")
    .resource-item
        .page-heading
            h1.title We Are Smart
            h2.subtitle Lorem Ipsum Dolor
        .p-lg
            img.img-responsive.mb-xl(src="app/img/fpo/image.png" alt="xxx")
            span.date 12/02 
            a(href="#") Oshyn is proud to be a part of the 20k14 Sitecore Symposium