.pg-partners
    .page-heading
        h1.title Who We Are
        h2.subtitle OUR TEAM MEMBERS SLEEP EAT AND BREATH OUR PROJECTS.
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/bustamante.jpg" alt="bustamante")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/calisto.jpg" alt="calisto")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/capello.jpg" alt="capello")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/chiliguano.jpg" alt="chiliguano")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/davalos.jpg" alt="davalos")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/duarte.jpg" alt="duarte")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/espinosa.jpg" alt="espinosa")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/fernandez.jpg" alt="fernandez")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/garces.jpg" alt="garces")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/herrera.jpg" alt="herrera")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/jalil.jpg" alt="jalil")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/jimenez.jpg" alt="jimenez")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/martinez.jpg" alt="martinez")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/mora.jpg" alt="mora")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/perez.jpg" alt="perez")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/ramirez.jpg" alt="ramirez")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/sanchez.jpg" alt="sanchez")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/senora.jpg" alt="senora")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/valle.jpg" alt="valle")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/villacres.jpg" alt="villacres")
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/villenas.jpg" alt="villenas")
    .row
        .small-4.columns
            a(ui-sref="app.who-detail")
                img.img-responsive.mb-xl(src="app/img/who/yanez.jpg" alt="yanez")