doctype html
html(lang="en", data-ng-app="oshyn")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='description', content='{{app.description}}')
        meta(name='keywords', content='')

        title(data-ng-bind="::pageTitle()") Oshyn

        link(rel='stylesheet', href='app/css/foundation.css')
        link(rel='stylesheet', href='app/css/app.css')
    
    body
        .wrapper.main-ui-view(data-ui-view="", data-autoscroll='false')

        script(src='app/js/base.js')
        script(src='app/js/app.js')
