.pg-gears-of-war
    .page-heading.close-section
        .close(ui-sref="app.portfolio") X
        h1.title Gears of War
        h2.subtitle CONNECTING GAMERS ACROSS COUNTRIES AND DEVICES
    img.img-responsive(src="app/img/portfolio/gears-of-war.jpg" alt="Gears of War")