.row
    .large-12.columns
        h2.subtitle Thank you!
        p.mb-xl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor, leo in iaculis bibendum, dui tellus sagittis libero, fermentum lacinia augue libero et magna. Cum sociis natoque penatibus et magnis dis parturient montes.
        .button.large.expand(ui-sref="app.resource-download.form({'id': 'resourceId'})") RETURN