.row
    .small-12.columns
        form.form
            label.text-label Name
            input.text-input(type="text")
            label.text-label Email
            input.text-input(type="text")
            label.text-label Company
            input.text-input(type="text")
            .mb-lg
                .small *We take your privacy seriously view our email privacy policy 
                .small * * No generic email accounts. ie: AOL, gmail, hotmail
            button.button.large.expand(type="submit", ui-sref="app.resource-download.thanks({'id': 'resourceId'})") SUBMIT