.pg-post
    .page-heading.close-section
        .close(ui-sref="app.resources") X
        h1.title Open Source Content Management
    .post-item
        .post-content
            img.img-responsive.mb-lg(src="app/img/fpo/image.png", alt="xxx")
            .clearfix
                .post-date.pull-left 06.30.15 
                .pull-right.ml
                    i.fa.fa-comment
                .pull-right
                    i.fa.fa-share-square-o
            .clearfix.mb
                img.author-img.pull-left(src="app/img/fpo/author.jpg", alt="xxx", height="45", width="45")
                span.author-text.pull-left / Cesar Yanez / Developer
            p At Oshyn, we’ve seen many successful open source CMS implementations, but we’ve also seen companies struggle with their open source platform choices. This white paper takes you through a list of topics that need to be discussed before you select an open source platform for your business to know if it’s a good fit, including: actual costs, the wrong reasons for selecting an open source platform, security advantages and disadvantages, and the benefits of outsourcing your open source development.