.pg-resource-download
    .page-heading.close-section
        .close(ui-sref="app.resource({'id': 'resourceId'})") X
        h1.smalltitle Download Resource
    .content(data-ui-view="", data-autoscroll='false')