.pg-resource
    .page-heading.close-section
        .close(ui-sref="app.resources") X
        h1.title CMS Selection Guide
    .resource-item
        .resource-content
            img.img-responsive.mb-lg(src="app/img/fpo/image.png", alt="xxx")
            .clearfix
                .resource-date.pull-left 06.30.15 
                .pull-right.ml
                    i.fa.fa-comment
                .pull-right
                    i.fa.fa-share-square-o
            .clearfix.mb
                img.author-img.pull-left(src="app/img/fpo/author.jpg", alt="xxx", height="45", width="45")
                span.author-text.pull-left / Cesar Yanez / Developer
            b How to Select Your Next CMS
            p(readmore readmore-max-length="60" readmore-text="Selecting a content management system (CMS) is no small task and a content management system (CMS) is no small task and a content management system (CMS) is no small task and a content management system (CMS) is no small task and a content management system (CMS) is no small task and something.")
            .button.large.expand(ui-sref="app.resource-download.form({'id': 'resourceId'})") DOWNLOAD
