.audience-segmentation
    .page-heading.close-section
        .close(ui-sref="app.services.main") X
        h1.title AUDIENCE SEGMENTATION AND PERSONALIZATION
        h2.subtitle AUDIENCE SEGMENTATION AND PERSONALIZATION
    img.img-responsive(src="app/img/fpo/image.png" alt="Desktop Strategy")
    .p-lg
        h3.content-title RELEVANT CONTENT, EQUALS BETTER EXPERIENCE.
        b Strategic Personalization
        p Did you know that people prefer personalized content? With the overwhelming amount of information people are exposed to, personalization helps people to fast-track to the content that is most relevant to them. It's a win-win situation for you and the people you want to engage. Personalization helps you to segment your audiences to create relevant experiences which adapt to their behaviors throughout their visit and subsequent journeys. 
        p While some software demos would have you believe that personalization functions out of the box, the reality is that setting it up can be quite complicated. Personalization needs to be strategic, valuable, and consistently delivered across channels. But what we often see are companies with a new CMS, who struggle to build and deploy personalization because they're not sure how to segment audiences, what content to personalize, or how to connected experiences across channels. 
        p Our UX experts are pros at understanding how people use different devices, interfaces, and how people expect content to work. Our experts help companies understand how to set up effective personalization plans in the leading CMS and digital marketing suites. 
        b Optimization
        p Once you've deployed your audience segmentation and personalization plans, ongoing management includes 'optimization'. People are difficult to predict. Every personalization program launches based on data, research, opinion and hypotheses. But once your plan is deployed, your CMS will begin to build customer profiles, analytics and conversion data, which will help you to continually optimize existing pesonalized content and improve planning for future content and campaigns. 
        p Every company has unique personalization goals, and no matter what yours are, we’re here to help you achieve success.