.pg-campaign-management
    .page-heading.close-section
        .close(ui-sref="app.services.main") X
        h1.title Campaign Management
        h2.subtitle Campaign Management
    img.img-responsive(src="app/img/fpo/image.png" alt="Desktop Strategy")
    .p-lg
        h3.content-title MULTI-DEVICE USERS ARE THE NEW NORM.
        b Multichannel Campaign Management
        p Can you quickly update and optimize your digital campaigns with actionable data from different touchpoints? Marketers need to manage digital campaigns in real-time and without taking all of their time. Too often, companies ask that all of the digital marketing tools available in thier new CMS are implememented, often creating a convulted experience for marketers. It’s crucial that when you investment in a new digital marekting platform, that it's built to last and easy to use. This means that first we need to understand your business, your digital touchpoints, and processes to build a platform that resonates with your marketers becoming a tool instead of a hindrance. 
        b Marketing Automation
        p Marketing Automation enables designing interactions based on behaviours across channels such as email, social media and websites. Many marketing automation projects fail because the sophisticated software was viewed as the solution instead of a foundation and marketers struggled to put the software into action. First we need to understand how you move people through your funnel, your plans and how you will measure success. Then we customize the software where necessary to create a platform which can improve user experiences for both customers and marketers. 
        b Cross-Channel Optimization
        p EvEven though we’re in the midst of the digital revolution, only a minority of marketers feel they’re able to provide beyond basic digital experiences. It's easy to understand why; the channels we use and how we use them are rapidly changing. The tools and skills required to create connected cross-channel user experiences are new and quickly evolving. When companies begin to have a serious focus on optimizing cross-channel experiences, they are often beginning to transform how they do business. Digital transformation is at the core of who we are, from the start we have helped companies use technology to transform how they do business.