.header.clearfix
    .left.logo(ui-sref="app.homepage")
        img.img(src="app/img/logo.png", alt="Oshyn", height="35", width="84")
    .right.menu-trigger
        .fa.fa-bars(ng-push-menu="sidebar")

include sidebar