.video-container.mb-xl
    iframe(width='560', height='315', src='https://www.youtube.com/embed/EZhtcxJp2xk', frameborder='0', allowfullscreen='')
.clearfix
    .skip-video(ui-sref="app.services.main") skip