ul.accordion-nav.mr-lg
    li.accordion-item
        label.item-title.strategy(for="strategy")
            i.fa.fa-puzzle-piece
            | Strategy
        input.toggle-section(type="checkbox", id="strategy", name="strategy", checked="checked")
        .content
            ul.submenu
                li.subitem
                    a.sublink(href="#", title="Desktop") Desktop
                li.subitem
                    a.sublink(href="#", title="Responsive") Responsive
                li.subitem
                    a.sublink(href="#", title="Tablet & Mobile") Mobile &amp; Tablet
    li.accordion-item
        label.item-title.design(for="design")
            i.fa.fa-pencil
            | Design
        input.toggle-section(type="checkbox", id="design", name="design")
        .content
            ul.submenu
                li.subitem
                    a.sublink(href="#", title="Desktop") Desktop
                li.subitem
                    a.sublink(href="#", title="Responsive") Responsive
                li.subitem
                    a.sublink(href="#", title="Tablet & Mobile") Mobile &amp; Tablet
    li.accordion-item
        label.item-title.web(for="web")
            i.fa.fa-globe
            | Web
        input.toggle-section(type="checkbox", id="web", name="web")
        .content
            ul.submenu
                li.subitem
                    a.sublink(href="#", title="Desktop") Desktop
                li.subitem
                    a.sublink(href="#", title="Responsive") Responsive
                li.subitem
                    a.sublink(href="#", title="Tablet & Mobile") Mobile &amp; Tablet
    li.accordion-item
        label.item-title.mobile(for="mobile")
            i.fa.fa-mobile
            | Mobile
        input.toggle-section(type="checkbox", id="mobile", name="mobile")
        .content
            ul.submenu
                li.subitem
                    a.sublink(href="#", title="Desktop") Desktop
                li.subitem
                    a.sublink(href="#", title="Responsive") Responsive
                li.subitem
                    a.sublink(href="#", title="Tablet & Mobile") Mobile &amp; Tablet