.page-heading {
    padding: $padding-lg;
    position: relative;

    .title {
        color: $title-color;
        font-size: 44px;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 $margin-base 0;
        text-transform: uppercase;
    }
    .subtitle {
        color: $subtitle-color;
        font-size: 22px;
        line-height: 1;
        margin: 0 0 $margin-lg 0;
        text-transform: uppercase;
    }
}