a {
    color: $link-color;

    &:hover {
        opacity: 0.7;
    }
}
img {
    display: block;
    max-width: 100%;

    &.img-responsive {
        width: 100%;
    }
}
.page-heading {
    min-height: 70px;
    padding: $padding-lg;
    position: relative;

    &.close-section {
        padding-right: 60px;
    }
    .close {
        border: 1px solid $title-color;
        color: $title-color;
        cursor: pointer;
        font-family: Arial;
        font-size: 40px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        right: $padding-lg;
        text-align: center;
        top: $padding-lg;
        width: 40px;

        &:hover {
            opacity: 0.7;
        }
    }
    .title {
        word-break: break-word;
        color: $title-color;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 $margin-base 0;
        text-transform: uppercase;
    }
    .subtitle {
        color: $subtitle-color;
        font-family: $secondary-font-family;
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
    }
    .smalltitle {
        color: #000;
        font-size: 16px;
        font-weight: normal;
        line-height: 30px;
        margin: 0;
        text-transform: uppercase;
    }
}
.content-title {
    color: $subtitle-color;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 $margin-lg 0;
    text-transform: uppercase;
}
.form {
    .text-label {
        color: #000;
        font-family: $secondary-font-family;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: $margin-base;
        text-transform: uppercase;
    }
    .text-input {
        height: 51px;
        line-height: 51px;
        padding: $padding-base;
    }
}