// 
// Utilities classes to simplify 
// components constructions
// ------------------------------

$margin-base: 10px;
$margin-sm:   5px;
$margin-lg:   15px;
$margin-xl:   30px;

$padding-xl:   30px;
$padding-lg:   15px;
$padding-base: 10px;
$padding-sm:   5px;

$border-color: rgba(0,0,0,.12);