//
// Variables
// --------------------------------------------------


// Colors
$gray-lighter:           #edf1f2;
$gray-light:             #bcbec0;
$gray:                   #dde6e9;
$gray-dark:              #3a3f51;
$gray-darker:            #656565;

// Classic brand colors
$brand-primary:		#27bde3;
$title-color:		#00aeef;
$subtitle-color:	#808285;
$loadingbar:		#1b6d8c;
$gray-bg:			#e5e5e5;
$dark-text:			#222325;

$success:			#27c24c;
$info:				#23b7e5;
$warning:			#ff902b;
$danger:			#f05050;